<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/4026a653d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css" />
    <title>encryptor</title>
  </head>
  <body>
    <div class="title"><h1>Encrypt <b style="color:red">Data</b> with Public & Decrypt with Public</h1></div>
    <div id="wrapper" class="wrapper-container">
      <!-- cipher and decipher -->
      <div id="form-wrapper">
        <!-- encrypt data -->
        <div class="shadow shadow-enc">
          <i class="fa-regular fa-copy noselect"></i>
        </div>
        <textarea class="para black-text" rows="4" cols="8" id="encrypt-para" disabled></textarea>

        <form method="POST" action="/api/encrypt">
          <p class="btn-text noselect">Encrypt</p>
          <div id="encrypt-container">
            <textarea rows="8" type="text" name="encrypt" id="encrypt-input" maxlength="250" placeholder="Type or paste a message"></textarea>
            <div id="r16" class="radio-container">
              <input type="radio" class="radiobtn 16" name="keylen" id="sixteen">
              <label class="noselect" for="sixteen">16-bit</label>
            </div>
            <div id="r24" class="radio-container">
              <input type="radio" class="radiobtn 24" name="keylen" id="twentyfour">
              <label class="noselect" for="twentyfour">24-bit</label>
            </div>
            <div id="r32" class="radio-container chosen">
              <input type="radio" class="radiobtn 32" name="keylen" checked id="thirtytwo">
              <label class="noselect" for="thirtytwo">32-bit</label>
            </div>
            <!-- aes standard options -->
            <div id="aes128" class="aes-container border-right-neg">
              <input type="radio" class="radiobtn 128" name="aes" id="128_input">
              <label class="noselect" for="128_input">128</label>
            </div>
            <div id="aes192" class="aes-container">
              <input type="radio" class="radiobtn 192" name="aes" id="192_input">
              <label class="noselect" for="192_input">192</label>
            </div>
            <div id="aes256" class="aes-container chosen">
              <input type="radio" class="radiobtn 256" name="aes" id="256_input" checked>
              <label class="noselect" for="256_input">256</label>
            </div>
            <!-- encryption button -->
            <input type="button" class="btn" id="encrypt"/>
          </div>
        </form>

        <!-- decrypt data -->
        <div class="shadow shadow-dec">
          <i class="fa-regular fa-copy noselect"></i>
        </div>
        <textarea class="para black-text" rows="4" cols="8" id="decrypt-para" disabled></textarea>
        <form method="POST" action="/api/decrypt">
          <p class="btn-text noselect">Decrypt</p>
          <div id="decrypt-container">
            <textarea rows="8" type="text" name="decrypt" id="decrypt-input" maxlength="250" placeholder="Type or paste the encrypted message"></textarea>
            <input type="button" class="btn" id="decrypt"/>
          </div>
        </form>
      </div>
    </div>
    <div class="title"><h1>Encrypt <b style="color:red">Data</b> with Public & Decrypt with Private</h1></div>
    <div id="wrapper2" class="wrapper-container">
      <!-- envelope -->
      <!-- <div id="envelope-container"> -->
        <div class="env">
          <form id="env-form" action="/api/encrypt/public"></form>
          <input type="text" name="pubencrypt" class="noselect no-border nodrag" form="env-form" placeholder="Type a Message" id="env-input">
        </div>
      <!-- </div> -->

      <!-- mailbox -->
       <div id="mailbox-container" class="mailbox-daddy daddy-mailbox">
        <!-- encrypt with public key (client to mailbox) -->
        <div id="mailbox-public" class="mail mailbox-top">
          <!-- public key representation -->
          <i class="fa-solid fa-key key-hidden pubkey"></i>
          <!-- mail goes in here -->
           <div class="mail-entry entry entry-mail">
            <!-- mail handle -->
             <div class="handle mail-handle handle-mail"></div>
           </div>
        </div>
        <!-- decrypt with private key (mailman/mailwoman) -->
        <div id="mailbox-private" class="mail mailbox-bottom">
          <p class="decoded-word key-hidden"></p>
          <!-- unlock decrypt and decipher mail -->
          <div class="mail-exit exit exit-mail">
            <div class="keyhole key-hole no-keyglow hole-key key lock-mailbox">
              <i class="fa-brands fa-keycdn"></i>
            </div>
        </div>
       </div>
    </div>
    <!-- private key -->
      <!-- private key representation -->
      <div id="privkey-container">
        <i class="fa-solid fa-key privkey key-hidden"></i>
      </div>
    </div>
    <div class="title"><h1>Encrypt <b style="color:red">Signature</b> with Private & Decrypt with Public</h1></div>
    <div id="wrapper3" class="wrapper-container"></div>
  </body>
  <script type="module" src="main.js"></script>
</html>
