<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>encryptor</title>
  </head>
  <body>
    <div id="wrapper">
      <!-- encrypt data -->
      <form method="POST" action="/api/encrypt">
        <div id="encrypt-container">
          <input type="text" name="encrypt" id="encrypt-input" />
          <button>encrypt</button>
          <p id="encrypt-para"></p>
        </div>
      </form>
      <!-- decrypt data -->
      <form method="POST" action="/api/decrypt">
        <div id="decrypt-container">
          <input type="text" name="decrypt" id="decrypt-input" />
          <button>decrypt</button>
          <p id="decrypt-para"></p>
        </div>
      </form>
    </div>
  </body>
  <script type="module" src="main.js"></script>
</html>
