<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encryptor</title>
</head>
<body>
    <div id="wrapper">

    <!-- encrypt data -->
        <div id="encrypt-container">
            <input type="text" name="encrypt" id="encrypt-input">
            <p id="encrypt-para"></p>
        </div>
    <!-- decrypt data -->
        <div id="decrypt-container">
            <input type="text" name="decrypt" id="decrypt-input">
            <p id="decrypt-para"></p>
        </div>
        </div>
    
</body>
</html>