*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image:linear-gradient(200deg,rgba(55, 86, 55, 0.887),ghostwhite);
    background-image:-o-linear-gradient(200deg,rgba(55, 86, 55, 0.887),ghostwhite);
    background-image:-moz-linear-gradient(200deg,rgba(55, 86, 55, 0.887),ghostwhite);
    background-image:-webkit-linear-gradient(200deg,rgba(55, 86, 55, 0.887),ghostwhite);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
    box-shadow: inset 0 0 18px 1.5px #333;;
}

#wrapper{
    /* border:2px solid red; */
    height:100%;
    width:98%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form-wrapper
{
display:flex;
position:relative;
gap:1rem;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
#encrypt-container,#decrypt-container{
    display:flex;
    height:100%;
    position: relative;
    }
#decrypt-input,#encrypt-input{
    padding:1rem;
    width:225px;
    height:100%;
    text-align:start;
    font-size:24px;
    line-break: auto;
    text-wrap:wrap;
    resize: none;
    outline:none;
    /* border:2px solid red; */
}
#encrypt-input{
    border-radius:0 0 0 12px;
}
#aes256{
    border-bottom-left-radius: 12px;
}
#decrypt-input{
    border-radius: 12px 0 0 12px;
}
#decrypt-container{
    border-radius:12px 0 0 12px;
}
#enrcypt-container{
    border-radius:0 0 0 12px;
}
/* button */
.btn{
    width:100px;
    border-radius:0 12px 12px 0;
    color:#000000;
    transition:.9s;
    overflow:hidden;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    outline:none;
    padding:.25rem;
    font-weight: bold;
    font-size:16px;
    border:none;
}
.title{
    height:78px;
    width:100%;
    display:flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#encrypt:hover,#decrypt:hover{
    background:#fff;
    cursor:pointer;
    box-shadow: inset 5px 0 8px .6px #333;
    transition: .25s;
}
.btn-text{
    transition:.5s;
    position:absolute;
    right:5px;
    bottom:5px;
    z-index:999;
    pointer-events: none;
    font-size:20px;
}
form{
    box-shadow:8px -5px 12px .75px #333;
    border-radius: 12px;
    position:relative;
}
#encrypt{
    background:rgba(242, 6, 6, 0.662);
    /* padding-top:4rem; */
}
#decrypt{
    background:rgb(1, 144, 1);
}
#encrypt:hover{
    color:#f00;

}
#decrypt:hover{
    color:rgb(10, 116, 10);

}

.black-text{
    color:#000;
}
.red-text{
    color:#f00;
}

/* button focus */
.focus-true{
    transition: .25s;
    filter: saturate(.25) contrast(1.25);
}
/* para */
.shadow{
    z-index:999;
    background:transparent;
    height:75px;
    transition: .25s;
    border:none;
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}
.shadow:hover{
    background:rgba(247, 247, 247, 0.19);
    cursor:pointer;
}
.para{
    z-index:998;
}
.para,.shadow{
    position:absolute;
    letter-spacing: .75px;
    width:350px;
    resize:none;
    border-radius: 12px;
    padding:.5rem;
}
.no-pointer{
    pointer-events: none;
}
.copy-para{
    color:#fff;
    font-size:14px;
    animation: copyInd 1s ease forwards;
}
@keyframes copyInd{
    from{
        transform:translate(0,0);
    }
    to{
        transform:translate(66px,0);
    }
}
.copy-click{
 color:ghostwhite;
}
#decrypt-para,.shadow-dec{
    bottom:-6rem;
}

#encrypt-para,.shadow-enc{
    top:-6rem;
}
.radiobtn{
    cursor:pointer;
    outline:none;
}
.chosen{
background:rgb(252, 246, 121) !important;
box-shadow: inset 1.5px -.5px 7px .5px #000000;
}
.radio-container,.radiobtn,.radio-container>label,
.aes-container,.aes-container > label{
    cursor:pointer;
}
.border-right-neg{
    border-radius: 12px 0 0 0;
}
#r16{
    border-radius:0 12px 0 0;
}
.radio-container,.aes-container{
    transition:.5s;
    z-index:999;
    background:red;
    position:absolute;
    width:67px;
    height:45px;
    display:flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
    gap:5px;
}
/* envelope */
#envelope-container{
border:2px solid cyan;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.env{
    z-index:999;
    border:8px double yellow;
    border-radius:12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor:move;
}
#env-form{
    pointer-events: none;
    visibility: hidden;
    opacity:0;
    height:0;
    width:0;
}
#env-input{
margin:1rem;
padding:1rem;
border-radius: 12px;
font-weight: bold;
box-shadow: 0 .25rem 12px .7px #333;
font-size:12px;
outline:none;
transition:.25s;
max-width:200px;
z-index: 999;
}
.no-border{
    border:none;
}
.mail-glow{
    border:4px solid gold;
}
.minimize-env{
    transition:.25s;
    background:#000;
    color:#fff;
    width:150px;
    height:25px;
    text-align: center;
}
.red-border{
    border: 8px double #f00;
    transition:.25s;
    animation:colorchange 1s forwards;
}
@keyframes colorchange{
    from{
        border: 8px double #f00;
    }
    to{
        border: 8px double #f0f;
    }
}

/* mailbox */
#mailbox-container{
    border-bottom:4px solid #fff;
    border-left:8px double rgb(14, 13, 14);
    border-right:8px double rgb(14, 13, 14);
    border-top:8px double rgb(14, 13, 14);
    background:#00f;
    height:275px;
    width:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 0 0;
    overflow:hidden;
    z-index:998;
}
#wrapper2{
    display:flex;
    width:98%;
    height:100%;
    align-items: end;
    justify-content:center;
    z-index:998;
}
.mail{
height:98%;
width:98%;
position:relative;
}
 .mailbox-bottom{
    border-bottom:3.25rem solid #fff;
 }
 
.mailbox-top,.mailbox-bottom{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background:rgb(0, 0, 255);
    box-shadow: inset 0 .5rem 12px .7px #333;
}
.mail-entry,.mail-exit{
    width:100%;
    display:flex;
    padding-top:.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background:blue;
    box-shadow: inset 0 -.5rem 18px .7px #333;
}
.mail-entry,.mail-exit{
    height:75px;
    transition:.5s;
}

.decoded-word{
    color:#fff;
    font-size:16px;
    max-width: 100px;
    max-height:100px;
    position: absolute;
    top:10px;
}
.open-mail-entry{
    border-top:2.75rem solid black;
}
.close-mail-entry{
    border-top:0 solid black;
}
.open-mail-exit{
    border-top:3rem solid #000;
}
.close-mail-exit{
    border-top:0 solid #000;
}
.mail-exit{
    box-shadow: inset 0 .25rem 8px .7px #333;
    height:90%;
    padding-top:.75rem;
}
.no-keyglow{
    border:2.5px double #080369;
}
.yes-keyglow{
    border:2.5px double gold;
}
.keyhole{
    height:20px;
    width:20px;
    overflow:hidden;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    box-shadow: inset 0 -2px 7px 2px #4a4a4aad;
}
.fa-key{
    pointer-events: none;
    opacity:.77;
    position:absolute;
    transform:rotate(30deg);
}
.pubkey{
    font-size:35px;
    color:rgb(3, 239, 3);
    top:5px;
}
#privkey-container{
    height:45px;
    width:60px;
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index:999;

}
.privkey{
    font-size:50px;
    color:rgb(247, 10, 53);
}
.hovering{
    cursor:pointer;
}
.dragging{
    cursor:grab;
}
.ondrag{
    position:absolute;
}
.nodrag{
    position:relative;
}
.key-hidden{
    opacity:0;
}
.fa-keycdn{
    color:#000000c4;
    font-size:14px;
}
.unlock-mailbox{
animation: unlockmb 1.5s forwards ease;
}
@keyframes unlockmb {
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
 
}
.lock-mailbox{
    animation: lockmb 1.5s forwards ease;
    }
    @keyframes lockmb {
        from{
            transform:rotate(360deg);
        }
        to{
            transform:rotate(0deg);
        }
     
    }
.handle{
    /* border:2px solid red; */
    height:12px;
    width:50px;
    /* border:6px double #04053c; */
    background:#33333389;
    border-radius:50px;
}
/* mobile phone portrait */
@media screen and (max-width:500px) and (max-height:1000px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        flex-direction: column;
        gap:.5rem;
        margin-top:-2.75rem;
        }
        #encrypt-input,#decrypt-input{
            font-size:20px;
            height:100%;
            width:225px;
        }
        .shadow-enc{
            top:-7rem;
        }
        .shadow-dec{
            bottom:-7rem;
        }
        #wrapper{
            margin-left:2rem;
        }
        #encrypt{
            /* padding-top:8.25rem; */
        }
        #decrypt-para{
            bottom:-7rem;
        }
        
        #encrypt-para{
            top:-7rem;
        }
        
        form{
            width:275px;
            height:250px;
        }
        
}
/* small mobile device portrait */
@media screen and (max-width:425px) and (max-height:750px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        flex-direction: column;
        gap:.5rem;
        margin-top:1rem;
        }

        #decrypt-para{
            bottom:-6.25rem;
        }
        #encrypt-input,#decrypt-input{
            font-size:18px;
            height:100%;
            width:225px;
        }
        
        #encrypt-para{
            top:-6.25rem;
        }
        .shadow-enc{
            top:-6.25rem;
        }
        .shadow-dec{
            bottom:-6.25rem;
        }
        form{
            width:225px;
            height:200px;
        }
}


/* mobile phone landscape */
@media screen and (max-width:1050px) and (max-height:780px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        gap:.5rem;
        }
        #decrypt-para{
            bottom:-5.5rem;
        }
        
        #encrypt{
            /* padding-top:8.36rem; */
        }
        
        #encrypt-input,#decrypt-input{
            font-size:18px;
            height:100%;
            width:225px;
        }
        #encrypt-para{
            top:-5.5rem;
        }
        .shadow-enc{
            top:-5.5rem;
        }
        .shadow-dec{
            bottom:-5.5rem;
        }
        form{
            width:225px;
            height:200px;
        }
}

/* small mobile device landscape */
@media screen and (max-width:750px) and (max-height:425px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        flex-direction: column;
        gap:.5rem;
        margin-top:1rem;
        }
        #encrypt-input,#decrypt-input{
            font-size:18px;
            height:100%;
            width:225px;
        }
        #decrypt-para{
            bottom:-6.25rem;
        }
        
        #encrypt-para{
            top:-6.25rem;
        }
        .shadow-enc{
            top:-6.25rem;
        }
        .shadow-dec{
            bottom:-6.25rem;
        }
        form{
            width:225px;
            height:200px;
        }
}

/* ipad air & similar devices portrait */
@media screen and (max-width:925px) and (max-height:1225px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        flex-direction: column;
        gap:.5rem;
        margin-top:-2.75rem;
        }

        #decrypt-para{
            bottom:-7rem;
        }
        #encrypt-input,#decrypt-input{
            font-size:18px;
            height:100%;
            width:200px;
        }
        #encrypt-para{
            top:-7rem;
        }
        .shadow-enc{
            top:-7rem;
        }
        .shadow-dec{
            bottom:-7rem;
        }
        form{
            width:275px;
            height:250px;
        }
}
/* surface duo & similar devices portrait */
@media screen and (max-width:600px) and (max-height:800px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        flex-direction: column;
        gap:1.25rem;
        }
        #encrypt{
            /* padding-top:8.36rem; */
        }
        #wrapper{
            margin-left:2rem;
        }
        #encrypt-input,#decrypt-input{
            font-size:18px;
            height:100%;
            width:225px;
        }
        #decrypt-para{
            bottom:-5.15rem;
        }
        
        #encrypt-para{
            top:-5.15rem;
        }
        .shadow-enc{
            top:-5.15rem;
        }
        .shadow-dec{
            bottom:-5.15rem;
        }
        form{
            width:225px;
            height:200px;
        }
}
/* surface duo & similar devices landscape */
@media screen and (max-width:800px) and (max-height:600px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        flex-direction: row;
        gap:1.25rem;
        }
        #encrypt{
            /* padding-top:8.36rem; */
        }

        #decrypt-para{
            bottom:-5.75rem;
        }
        #encrypt-input,#decrypt-input{
            font-size:18px;
            height:100%;
            width:225px;
        }
        #encrypt-para{
            top:-5.75rem;
        }
        .shadow-enc{
            top:-5.75rem;
        }
        .shadow-dec{
            bottom:-5.75rem;
        }
        form{
            width:225px;
            height:200px;
        }
}

/* surface duo & similar devices landscape */
@media screen and (max-width:910px) and (max-height:395px) {
    .btn-text{
        font-size:14px;
    }
    .title{
        font-size:8px;
    }

    #form-wrapper{
        display:flex;
        position:relative;
        flex-direction: row;
        gap:1.25rem;
        margin-top:.5rem;
        }

        #decrypt-para{
            bottom:-5.15rem;
        }
        
        #encrypt-para{
            top:-5.15rem;
        }
        #encrypt-input,#decrypt-input{
            font-size:18px;
            height:100%;
            width:225px;
        }
        .shadow-enc{
            top:-5.15rem;
        }
        .shadow-dec{
            bottom:-5.15rem;
        }
        form{
            width:200px;
            height:175px;
        }
}

